#robot{ /* fundo do robô */
    background-color: #f5f2f2;
    border:2px solid #696969;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    width: 350px;
}
#topo{ /* estilo do topo */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    mix-blend-mode: normal;
    color: #000000;
    border-bottom: 2px solid #000000;
    background: linear-gradient(180deg, #FFFFFF 0%, #B8B8B8 48.96%, #AAAAAA 100%);
    padding-top: 6px;
    padding-bottom: 5px;
}
.inp{ /* estilo dos inputs */
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 3px;
    border: 0px;
    margin-bottom: 3px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(97, 97, 97, 0.77);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
}
.label{ /* estilo dos textos acima do input */
    color: #000;
    font-size: small !important;
    margin-bottom: 0px !important;
}
#strategy-bot{
    margin-top: 5px;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    width: 98%;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    border:1px solid #000;
}
#strategy-bot::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
}
#strategy-bot::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}
#strategy-bot::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid black;  /* creates padding around scroll thumb */
}
.standards{
    padding: 3px;
    border:1px solid #000;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

.banker-bot {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 1px;
    border:1px solid #000;
}
.player-bot {
    background-color: #0000CD;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 1px;
    border:1px solid #000;
}
.tie-bot {
    background-color: #EEDD82;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin: 1px;
    border:1px solid #000;
}
.btn-bot{ /* estilo dos botões */
    padding-top: 10px  !important;
    padding-bottom: 10px  !important;
    background-color: #000000;
    width: 30%;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
    font-family: 'Roboto';
    font-style: normal;
}
.config{
    border:1px solid #000;
    padding: 7px;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 7px;
}
.options-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    font-family: 'Montserrat';
}
.container-bot{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 2px;
    font-family: 'Montserrat';
}
.option-bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-bottom: 5px;
    margin: 3px;
    font-family: 'Montserrat';
}
#form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}
#action{
    padding-top: 10px;
    padding-bottom: 10px;
    border:1px solid #000;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    /* Rectangle 9 */
    background: linear-gradient(180deg, #10570F 0%, #17AF14 100%);
    border-radius: 12px;
}